<div class="container mt-4">
  <div class="card shadow">
    <div class="card-body">
      <h2 class="text-center text-info">Historial de Transacciones</h2>

      <div class="text-center">
        <button (click)="obtenerTransacciones()" class="btn btn-info">Ver Transacciones</button>
      </div>

      <table class="table table-hover mt-3" *ngIf="transacciones.length > 0">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Monto</th>
            <th>Tipo</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaccion of transacciones">
            <td>{{ transaccion.id }}</td>
            <td>${{ transaccion.monto }}</td>
            <td>
              <span [ngClass]="{'text-success': transaccion.tipo === 'DEPÓSITO', 'text-danger': transaccion.tipo === 'RETIRO'}">
                {{ transaccion.tipo }}
              </span>
            </td>
            <td>{{ transaccion.fecha }}</td>
          </tr>
        </tbody>
      </table>

      <p *ngIf="transacciones.length === 0" class="text-center text-warning mt-3">No hay transacciones registradas.</p>
    </div>
  </div>
</div>